# This is Git's per-user configuration file.
[user]
	name = Liam Hawks
	email = 68058931+hawkstein@users.noreply.github.com
[core]
	editor = code --wait
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	recent = branch --sort=-committerdate --format=\"%(committerdate:relative)%09%(refname:short)\"
[column]
	ui = auto
[branch]
	sort = -committerdate
[tag]
	sort = version:refname
[init]
	defaultBranch = main
[rerere]
	enabled = true
	autoupdate = true
[pull]
	rebase = true
